# SPDX-License-Identifier: Apache-2.0
# Exact opt-in APTA 1.1 ESP32-P4 USB/audio evidence profile.
CONFIG_APTA_P4_HARDWARE_EVIDENCE=y
CONFIG_UAC_SPEAKER_CHANNEL_NUM=1
CONFIG_UAC_MIC_CHANNEL_NUM=0
CONFIG_UAC_SAMPLE_RATE=48000
CONFIG_UAC_BIT_RESOLUTION_16=y
CONFIG_UAC_SPK_INTERVAL_MS=10
CONFIG_UAC_SPK_NEW_PLAY_INTERVAL=100
CONFIG_TINYUSB_RHPORT_HS=y
CONFIG_UAC_TUSB_PRODUCT="APTA 1.1 P4 Evidence Input"
